@import url("https://fonts.googleapis.com/css?family=Prata");
@font-face { font-family: "icons"; src: url("../fonts/icons.ttf"); }

html, body, .container {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	position: relative;
	height: 40%;
	width: 40%;
	color: #111111;
	font-family: "Prata", serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
}

.quote {
	position: absolute;
	bottom: 60%;
	text-align: left;
	line-height: 1.5em;
	white-space: pre-wrap;
}

.quote:before {
	content: "\201C";
	position: absolute;
	margin-left: -0.5em;
	font-size: 125%;
}

.quote:after {
	content: "\201D";
	position: relative;
	font-size: 125%;
}

.next {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 40%;
	margin: 0px;
	padding: 5px 0px;
	border: none;
	color: inherit;
	background-color: transparent;
	font: inherit;
	text-align: center;
	text-decoration: none;
}

.next:focus, .next:active {
	outline: none;
}

.right {
	font-family: "icons";
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	transition: all 0.1s ease-out;
}

.right:after {
	content: "\E905";
}

.next:hover .right {
	margin-left: 5%;
}