@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lato:300");
@font-face {
	font-family: "icons";
	src: url("../fonts/icons.ttf");
}

@keyframes fadein {
    0%		{ opacity: 0; }
    100%	{ opacity: 1; }
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	font-size: 24px;
	background-image: url(../images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	background-color: #050505;
}

/* MAIN */

.main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
    width: 100vw;
	margin: 0px;
	animation-name: fadein;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.inner-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.inner-wrapper:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 300px;
	width: 300px;
	margin-top: -150px;
	margin-left: -150px;
	border-radius: 50%;
	opacity: 0.8;
	z-index: -1;
	background-image: url(../images/risingsun.png);
	background-size: 100%;
}

.main img {
	width: 200px;
}

.main h1 {
	margin: 10px 0px;
	color: #FFFFFF;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 0.1em;
}

.arrow {
	display: inline-block;
	color: #FFFFFF;
	opacity: 0.5;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	transition: all 0.25s ease;
}

.arrow:hover {
	opacity: 1.0;
}

.arrow:before {
	content: "\E906";
}

/* CONTENT */

.content {
    margin: 0px;
    padding: 10vh 25vw 15vh;
    color: #FFFFFF;
	background-color: #050505;
}

.content h2 {
	margin-top: 10vh;
	margin-bottom: 1vh;
    font-size: 2rem;
    font-weight: 700;
}

.content p {
    font-size: 100%;
    font-weight: 100;
}

.content ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.content ul li:before {
	content: "—";
}

.content ul li a {
	margin-left: 0.5rem;
    color: inherit;
    text-decoration: none;
	transition: all 0.25s ease;
}

.content ul li a:hover {
    color: #050505;
    background-color: #FFFFFF;
}

.content img {
	display: block;
	width: 250px;
	max-width: 60%;
	margin: 0px auto;
	border: 3px solid #FFFFFF;
	border-radius: 4px;
}

#links {
	margin: 10vh auto;
	text-align: center;
}

#links a {
	color: #FFFFFF;
}

/* ICONS */
[class^="icon"] {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-size: 3rem;
	text-align: center;
	text-decoration: none;
	margin: 0.5rem;
	transition: all 0.25s ease;
}

.icon-facebook:before { content: "\E900"; }
.icon-facebook:hover { color: #3B5998; }
.icon-instagram:before { content: "\E901"; }
.icon-instagram:hover { color: #CD486B; }
.icon-twitter:before { content: "\E903"; }
.icon-twitter:hover { color: #00ACED; }
.icon-youtube:before { content: "\E904"; }
.icon-youtube:hover { color: #FF0000; }
.icon-github:before { content: "\EAB0"; }
.icon-github:hover { color: #505050; }
.icon-linkedin:before { content: "\E902"; }
.icon-linkedin:hover { color: #0077B5; }

/* MOBILE */
@media screen and (max-width: 450px) {
	.content {
		padding-left: 10vw;
		padding-right: 10vw;
	}
}