@import url("https://fonts.googleapis.com/css?family=Manrope:300,400");

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	background-color: #FDECEF;
	scroll-behavior: smooth;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
}

.main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	width: 40%;
	margin: 0px;
	font-family: "Manrope", Helvetica, sans-serif;
}

.name {
	margin: 0px;
	padding: 2px;
	color: #000;
	font-size: 4rem;
	font-weight: 300;
}

.menu {
	margin: 0px;
	padding: 4px;
	list-style-type: none;
}

.menu li {
	float: left;
}

.menu li a {
	position: relative;
	display: block;
	margin-right: 10px;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

.menu li a:hover {
	border-bottom: 2px solid;
	margin-bottom: -2px;
}

.about { color: #000; }

.blog { color: #235789; }

.photography { color: #CA1551; }

.linkedin { color: #006BA6; }

.github { color: #111111; }

@media screen and (max-width: 450px) {
	.main {
		width: 50vw;
	}
	.name {
		font-size: 4rem;
	}
	.menu li a {
		font-size: 1.5rem;
	}
}